body{
	color: lightcoral;
	text-align: center;
	align-items: center;
	font-size: 18px;
	margin:0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-image: url(ressources/lighttablebackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Delius', cursive;

}
h1 {
	text-align: center;
	align-items: center;
	color: white;
	text-shadow: -2px 0 black, 0 2px black,
      2px 0 black, 0 -2px black;
}
img{
	width: 560px;
	height:315px;

}
#image{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer{
	background-color: rgba(255, 0, 0, 0.308);
}
	footer p{

	color: white;
	margin-bottom: -16px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	align-items: center;
}

a{
	text-align: center;
	align-items: center;
	color: black;
	text-decoration: none;
}
.bouton {
	background-color: #33e9ff;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 50%;
	transition: 0.3s;
  }
  
  .bouton:hover {
	transition-duration: 2s;
	  opacity: 100%;
	  color: red;
	}